# Core functionality - changes here should be rare!
/src/app.py                   @mfshafee
/src/backend/database.py      @mfshafee
/src/backend/routers/auth.py  @mfshafee

# The frontend will need refactored soon to be more object oriented.
/src/static/   @mfshafee
